Nama : Nera Sagita Fradityas

NIM  : 2100015014

TUGAS PSDS PYTHON (PERTEMUAN 7)

# **OPERATOR**

**Pengguna Operasi Aritmatika**

In [5]:
#Penjumlahan
print('penjumlahan')
print(2+2)

#Pengurangan
print('Pengurangan')
print('-'*20)
print(2-3)

#Perkalian
print('Perkalian')
print('-'*20)
print(2*3)

#Pembagian
print('Pembagian')
print('-'*20)
print(2/3)

#Modulus
print('Modulus')
print('-'*20)
print(3%2)

#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(2**3)

#Pembagian dengan hasil pembulatan flooriing
print('Pembagian pembulatan flooring')
print('-'*20)
print(3//2)

penjumlahan
4
Pengurangan
--------------------
-1
Perkalian
--------------------
6
Pembagian
--------------------
0.6666666666666666
Modulus
--------------------
1
Perpangkatan
--------------------
8
Pembagian pembulatan flooring
--------------------
1

**Latihan Operator 1**

In [1]:
#Buatlah program penerapan operator Aritmatika
#dengan nilai-nilai yang berbeda dari contoh di atas

**Operasi Assignment**

Operasi Assignment digunakan untuk menyimpan nilai menjadi suatu variabel

In [4]:
#Penjumlahan
print('Penjumlahan')
x = 5
x = x+5
print(x)
x = 5
x+= 5
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x = 5
x = x-5
print(x)
x = 5
x-= 5
print(x)
print('-'*20)


#Perkalian
print('Perkalian')
x = 5
x = x*5
print(x)
x = 5
x*= 5
print(x)
print('-'*20)

#Pembagian
print('Pembagian')
x = 5
x = x/5
print(x)
x = 5
x/= 5
print(x)
print('-'*20)

#Modulus
print('Modulus')
x = 5
x = x%5
print(x)
x = 5
x%= 5
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x = 5
x = x//5
print(x)
x = 5
x//= 5
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatann')
x = 5
x = x**5
print(x)
x = 5
x**= 5
print(x)
print('-'*20)

Penjumlahan
10
10
--------------------
Pengurangan
0
0
--------------------
Perkalian
25
25
--------------------
Pembagian
1.0
1.0
--------------------
Modulus
0
0
--------------------
Pembagian Flooring
1
1
--------------------
Perpangkatann
3125
3125
--------------------

**Latihan Operator 2**

In [5]:
#Buatlah progam penerapan operator assignment
#dengan nilai-nilai yang berbeda dari contoh diatas

**Operator Perbandingan**

In [6]:
print(2==2)
print(2!=2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
True
True

**Latihan Operator 3**

In [7]:
#Buatlah program penerapan opertor perbandingan
#dengan nilai-nilai yang berbeda dari contoh diatas

**Operator Logika**

Operator logika digunkan untuk mengkombinasikan statment-statment kondisional

Macam-macam operator logika :

In [10]:
#and -> kondisi benar apabila semua statmentnya benar
#or  -> kondisi menjadi benar apabila salah satu statmentnya ada yang benar
#not -> membalik hasil dari benar ke salah dan salah ke benar

**Operator Logika**

In [14]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

**Latihan Operator 4**

In [16]:
#Buatlah pemrograman penerapan operator logika
#dengan nilai-nilai yang berbeda dari contoh diatas

**Operator Keanggotaan**

In [17]:
a = (1,2,3,4,5,6)
b = 2
print(b in a)
print('-'*20)

a = (1,2,3,4,5,6)
b = 7
print(b not in a)

True
--------------------
True

**Latihan Operator 5**

In [18]:
#Buatlah program penerapan operator keanggotaan membership
##dengan nilai-nilai yang berbeda dari contoh diatas

# **VARIABEL**

Variabel : Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat-syarat penamaan variabl
1.   Karakter-karakter yang digunakan untuk penamaan variabel adalah alphabet, angka dan underscore
2.   Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka
3.   Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahas python seperti for, if dan lainnya
4.   Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [19]:
#Membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

#Menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

**Latihan 1**

In [20]:
#Buatlah 5 variabel kalian sendiri dengan 5 macam tipe data
#lalu tampilkan variabel menggunakan fungsi print

In [22]:
#Membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 6
bilangan2 = 4
bilangan3 = 6 + 4
bilangan4 = 10

#Menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
6
4
10
10

#**TIPE DATA**

5 tipe data yaitu :

1.   Integral atau bilangan bulat
2.   Float atau bilangan desimal
3.   String atau kalimat
4.   Boolean yang terdiri dari True dan False

In [2]:
#Membuat tipe data
kalimat = 'ini adalah variabel'
bilangan1 = 6
bilangan2 = 4
bilangan3 = 6 + 4
bilangan4 = 10

#Menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

# **KONVERSI TIPE DATA**

In [4]:
#Membuat konversi tipe data
bilangan1 = 6
bilangan2 = 4
bilangan3 = 6 + 4
bilangan4 = 10

#Konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

#Konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

#Konersi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

#Konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

#Konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

4
10
6.0
10.0
6
4
10
True
True
(6+0j)
(4+0j)
(10+0j)